<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Dashboard</h1>
      <div id="dashboard">
        <p id="dashboard-message"></p>
        <button onclick="viewUserDetails()">Szczegóły użytkownika</button>
        <button onclick="viewAuctions()">Aukcje</button>
        <button onclick="addItem()">Dodaj przedmiot</button>
        <button onclick="viewUserItems()">Moje przedmioty</button>
      </div>
      <button onclick="logout()">Logout</button>

      <script src="dashboard.js"></script>
    </div>
  </body>
</html>
